.kuserslider {
	grid-column: main-start/main-end;
	display: grid;
	margin-bottom: 8rem;
	margin-top: 0rem !important;
}

.kmt__carousel {
	grid-column: 1/-1;
}
.kmt__carousel-nav {
	background-color: red !important;
	position: absolute;
	right: 3.5%;
	top: -10%;
}

.kuserslider__title {
	display: grid;
	align-self: start;
	flex-direction: column;
	justify-items: start;
	width: 50%;
	grid-gap: 1rem;
	margin-bottom: 4rem;
}
.kuserslider__title h1 {
	font-size: var(--title-size);
	font-weight: var(--title-weight);
	text-wrap: balance;
	line-height: 3.5rem;
	padding: 0rem !important;
}
.kuserslider__title h2 {
	font-weight: 300;
}

.kmt__carousel-item {
	min-height: 35vh;
	display: flex;
	justify-items: end;
	border: none !important;
	position: relative;
}
.kmt__carousel-item-content {
	background: linear-gradient(
		to top,
		rgba(15, 15, 15, 0.85) 0%,
		rgba(15, 15, 15, 0.55) 40%,
		rgba(15, 15, 15, 0) 100%
	);
	justify-self: end;
	position: absolute;
	bottom: 0;
	left: 20;
	width: 100%;
	padding: 2rem;
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
	display: flex;
	flex: 3 1;
	height: 40%;
	align-items: end;
}
.kmt__carousel-item-content-left {
	flex: 0 0 70%;
}
.kmt__carousel-item-content-right {
	justify-content: flex-end;

	flex: 1;
	display: flex;
	align-items: center;
}
.kmt__carousel-item-icon-bg {
	padding: 0.2rem;
	border-radius: 999px;
}

.kmt__carousel-item-content h2,
p {
	color: #fff;
}

.kmt__carousel-item-content h2 {
	font-weight: 500;
	letter-spacing: 1px;
}
.kmt__carousel-item-content p {
	font-weight: 200;
}

.kmt__carousel-nav-btn {
	background-color: var(--color-bg-dark);
	color: var(--color-main);
	border: none !important;
	height: 45px;
	width: 45px;
	cursor: pointer;
	border-radius: 0.5rem !important;
}

.kmt__carousel-nav-btn:hover {
	opacity: 0.8;
}

.kmt__carousel-item-icon-bg {
	background-color: var(--color-main);
}

.kuserslider__bottom {
	background-color: var(--color-bg-dark);
	border-radius: 0.75rem;

	margin-top: 1rem;
	display: grid;
	color: #fff;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: subgrid;
	grid: su;
	justify-items: center;
}

.kuserslider__bottom-item {
	align-content: center;

	padding: 2rem;

	display: grid;
}
.kuserslider__bottom-item h2 {
	font-size: 3.5rem;
	color: var(--color-main);
	font-weight: 600;
}

.kuserslider__bottom-item-title {
	display: grid;
	grid-gap: 0rem;
	line-height: 2.5rem;
}
.kuserslider__bottom-item-title h4 {
	font-weight: 700;
}
.kuserslider__bottom-item p {
	font-weight: 300;
}
