.ponudba {
	grid-column: main-start/main-end;
	display: grid;
	gap: 4rem;
	margin-bottom: 9rem;
	grid-template-columns: repeat(2, 1fr);
	overflow: hidden !important;
}

.ponudba h1 {
	grid-column: 1/-1;
	width: 100%;
	text-align: center;
	font-size: var(--title-size);
	font-weight: var(--title-weight);
}
.ponudba__item-left {
	align-content: center;
}
.ponudba__title {
	grid-column: 1/-1;
	text-align: center;
}

.ponudba__title h2 {
	font-size: 1.6rem;
	font-weight: 300;
}
.accordion__item svg:nth-child(1) {
	background: var(--gradient-orange);
	border-radius: var(--radius-sm);
	color: #fff;
	padding: 0.5rem;
}

.accordion__item:hover {
	cursor: pointer;
}

.accordion__item:hover svg:nth-child(2) {
	background-color: var(--color-main);
	transition: all 0.3s ease-in-out;
	border-radius: 999px;
	padding: 0.1rem;
	color: white;
}
.accordion__item:hover h2 {
	cursor: pointer;
	opacity: 0.8;
}

.accordion__text h2 {
	font-size: 1.4rem;
	font-weight: 400;
	color: #333;
}
.accordion__paragraph p {
	color: var(--color-p-grey);
	padding-right: 20%;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

.ponudba img {
	border-radius: var(--radius-md);
}
