.projekti {
	grid-column: full-start/full-end;

	grid-template-columns: inherit;

	display: grid;
	padding-top: 0rem;
	padding-bottom: 140px;
}

.projekti__wrapper {
	grid-column: main-start/main-end;
	display: grid;
}
.projekti__title {
	text-align: center;
}
.projekti__wrapper h1 {
	color: black;
	font-size: var(--title-size);
	font-weight: var(--title-weight);
}
.projekti__wrapper h2 {
	color: black;
	font-size: 1.2rem;
	font-weight: 300;
}

.projekti__subtitle {
	grid-column: 1/-1;
	max-width: 50%;
	justify-self: center;
	text-align: center;
	margin-top: 1rem;
}

.projekti__nav {
	margin-top: 2rem;
	grid-column: 1/-1;

	justify-self: center;
	display: flex;

	gap: 1rem;
	background-color: var(--color-button-dark);
	padding: 0.8rem 1rem 0.8rem 1rem;
	border-radius: 999px;
	border: 1px solid #ffffff22;
}

.projekti__active {
	background-color: var(--color-main);

	border-radius: 999px;
	color: #000 !important;
}

.projekti__nav-item {
	padding: 0.8rem 2rem 0.8rem 2rem;
	color: #fff;
	border-radius: 999px;
}

.projekti__nav-item:hover {
	background-color: var(--color-main);
	cursor: pointer;
}

.projekti__box {
	display: grid;
	grid-column: 1/-1;
	grid-template-columns: repeat(12, 1fr);
	margin-top: 4rem;
	grid-gap: 4rem;
	min-height: 70vh;
}
.projekti__box-left {
	grid-column: span 5;
	grid-template-rows: repeat(6, 1fr);
	position: relative;
}
.projekti__box-left-bottom {
	align-self: end;
	position: absolute;
	display: grid;
	height: min-content;
	bottom: 2%;
	left: 0;
}
.projekti__box-left-bottom p {
	color: #000;
	grid-column: 1/-1;
	width: 70%;
	text-wrap: balance;
}
.projekti__box-left-button {
	width: max-content;
}
.projekti__box-right {
	grid-column: span 7;
	display: grid;
	gap: 2rem;
}

.projekti__box img {
	border-radius: 0.75rem;
}

.projekti__accordion-item {
	border-bottom: 1px solid #0321271a;
	display: grid;
	grid-gap: 0rem;
	position: relative;
}

.projekti__accordion-item[data-state='open'] h2,
p,
h3 {
	color: black;
}
.projekti__accordion-item h3 {
	font-size: 1.6rem;
	font-weight: 700;
}
.projekti__accordion-item p {
	font-weight: 200;
	margin-top: 1rem;
	font-size: 1rem;
	color: #333;
}

.projekti__accordion-item h2 {
	color: #333;
	font-weight: 400;
	font-size: 1.3rem;
}

.projekti__accordion-icons {
	margin-top: 0.5rem;
}
.projekti__accordion-text p {
	margin-top: 0rem !important;

	font-weight: 400;
	align-self: end;
}
.projekti__accordion-text {
	display: flex;
	align-items: flex-end !important;

	padding: 0rem;
}
.projekti__accordion-icons-item {
	display: flex;
	padding: 1rem 0rem 1rem 0rem;
	align-items: center;
	gap: 10px;

	align-content: center;
}

.projekti-underline {
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 3px;
	background: var(--color-main); /* target color */
	width: 1%; /* start */
	transition: width 5s linear;
}

.projekti__icon-bg {
	display: flex;
	align-items: center;
	justify-items: center;

	border-radius: 999px;
}
