.storitve__container {
	margin-top: var(--margin-section);
	grid-column: main-start/main-end;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-gap: 2rem;
}

.storitve__item-left {
	grid-column: 1/4;
	display: grid;
	height: min-content;
	gap: 1rem;
}

.storitve__item-left h1 {
	font-size: var(--title-size);
	font-weight: var(--title-weight);
	line-height: 3.5rem;
	padding-right: 2rem;
}

.storitve__item-left p {
	color: var(--color-p);
	font-size: 1.1rem;
	letter-spacing: 1px;
	font-weight: 300;
	padding-right: 2rem;
}

.storitve__item-right {
	grid-column: 4/-1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
}

.storitve__item-box {
	display: grid;
	grid-gap: 0rem;
	border-radius: var(--radius-medium);
	grid-template-rows: 1.5fr 1fr;
	padding: 1rem 0rem 1rem 0rem;
}
.storitve__item-box-up {
	display: grid;

	align-items: center;
	justify-content: center;
	position: relative;
}

.storitve__item-box-down {
	padding: 1rem 2rem 1rem 2rem;
	display: grid;
	grid-gap: 1rem;
}
.storitve__item-box-left {
	background-color: var(--color-main);
}
.storitve__item-box-right {
	background-color: var(--color-grey-light);
	z-index: -3;
}

.storitve__item-box p {
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.3px;
	line-height: 2rem;
}

.storitve__item-box button {
	border-radius: 999px;
	border: 1px solid black;
	background-color: transparent;
	width: 50%;
	padding: 0.6rem;
	font-weight: 600;
	font-size: 1rem;
	transition: background-color 0.2s ease, color 0.2s ease;
	cursor: pointer;
}

.storitve__item-box button:hover {
	background-color: #000;
	color: #fff;
}

.circle {
	grid-column: 1/-1;
	position: relative;
	width: 100px;
	height: 100px;

	border-radius: 50%;

	animation: pulse 1.5s linear forwards;
}

.circle span {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background: inherit;
	border-radius: inherit;
	background-color: rgba(247, 247, 247, 0.4);
	animation: pulseAnimation 4s ease-out infinite;
	animation-delay: calc(1s * var(--i));
}
.circle-grey span {
	background-color: rgba(200, 200, 200, 0.3);
}

@keyframes pulseAnimation {
	100% {
		opacity: 0;
		transform: scale(3);
	}
}

.storitve__item-icons-wrapper {
	position: absolute;

	display: grid;

	justify-self: center;
}
.storitve__item-icons-wrapper-right {
	position: absolute;

	display: grid;
	gap: 1rem;
	justify-self: center;
}
/* outer container = fixed position in layout */
.storitve__item-icons {
	position: relative;
	width: 50px;
	height: 50px;
	overflow: visible;
	background-color: rgb(0, 0, 0);
	border-radius: 999px;
	justify-items: center;
	align-content: center;
}
.storitve__item-icons .dash {
	color: white;
	animation: spinDash 15s linear infinite;
}
@keyframes spinDash {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.lala {
	color: #ffe7d1;
}

/* rotating layer */
.kmt_orbit {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;

	transform: translate(-50%, -50%);
	animation: kmt_spin 15s linear infinite;
	will-change: transform;
}

/* icons */
.icon-bg {
	position: absolute;

	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;

	transform-origin: 0 0;
}

/* exact circular positions */
.icon-bg:nth-child(1) {
	transform: rotate(0deg) translate(70px);
}
.icon-bg:nth-child(2) {
	transform: rotate(60deg) translate(70px);
}
.icon-bg:nth-child(3) {
	transform: rotate(120deg) translate(70px);
}
.icon-bg:nth-child(4) {
	transform: rotate(180deg) translate(70px);
}
.icon-bg:nth-child(5) {
	transform: rotate(240deg) translate(70px);
}
.icon-bg:nth-child(6) {
	transform: rotate(300deg) translate(70px);
}

@keyframes kmt_spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}
@property --angleR {
	syntax: '<angle>';
	initial-value: 360deg;
	inherits: false;
}

.storitve__item-card {
	position: relative;
	display: grid;

	justify-items: center;
	text-align: center;
	padding: 1rem 0.5rem 1rem 0.5rem;
	background-color: #fff;
	gap: 0.5rem;
}

.storitve__item-card-bg {
	padding: 0.2rem;

	background-image: conic-gradient(
		from var(--angle),
		transparent 80%,
		var(--color-main)
	);
	z-index: 0;
	animation: 5s spinBg linear infinite;
}
.storitve__item-card-bg-right {
	padding: 0.2rem;

	background-image: conic-gradient(from var(--angleR), transparent 80%, black);
	z-index: 0;
	animation: 5s spinBgRight linear infinite;
}

@keyframes spinBg {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}
@keyframes spinBgRight {
	from {
		--angleR: 360deg;
	}
	to {
		--angleR: 0deg;
	}
}
.storitve__item-box-right .storitve__item-icons-wrapper {
	display: flex;
	gap: 20px;
	padding: 0rem 4rem 0rem 4rem;
}

.storitve__item-card-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 999px;
	background-color: black;
	height: 70px;
	width: 70px;
}

.storitve__item-card-icon svg {
	color: #fff;
}

.storitve__item-card-icon-right {
	background-color: var(--color-main);
}
.storitve__item-card p {
	font-size: 0.8rem;
}

.storitve__item-card-text {
	display: flex;
}

.storitve__item-card-text p {
	align-self: center;
	line-height: 1.5rem;
}

.storitve__item-box-down h2 {
	font-weight: 600;
	font-size: 1.4rem;
}

.accordion__item[data-state='open'] h2 {
	font-weight: 600; /* or any color */
}
